@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Spline+Sans+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #ffffff;;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background: #233a95;
    color: white;
    font-size: 13px;
}

.thenHeading{
    width: 100%;
    height: 45px;
    border: 1px solid rgba(128, 128, 128, 0.404);
    color: rgb(133, 133, 133);
    font-size: 13px;
}

.thenHeading ul li{
    list-style: none;
    display: flex;
    align-self:center;
}

.thenHeading ul li a{
    text-decoration: none;
    color: rgb(68, 68, 68);
    margin: 2px 7px;
    transition: 0.3s;
}
.thenHeading ul li a:hover{
    color: #00c8ff;
}

.dropbtn {
    color: rgb(0, 0, 0);
    border: none;
    background: none;
    transition: 0.3s;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 25px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    min-height: 125px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    transition: 0.2s;
    z-index: 1;
  }
  
  .lang a {
    color: rgb(41, 41, 41);
    padding: 6px 35px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    font-size: 12px;
    font-weight: 600;

  }
  
  .dropdown-content a:hover {color: #00c8ff;}
  
  .dropdown:hover .dropdown-content {display: block;}

  .dropbtn:hover{color:#00c8ff;}


  #location{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:50px ;
    width: 180px;
    height: 60px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0px 4px 8px 0px rgba(143, 143, 143, 0.2);
  }
  #location span i{
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 10px;
  }

  #location .currentLoc{
    color: #233a95;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 600;
  }
#location:hover{
  box-shadow: 0px 4px 8px 0px rgba(57, 57, 57, 0.2);
}
.search #navbarSearch{
  position: relative;
  padding: 18px 10px;
  width: 553px;
  border-radius: 5px;
  border: none;
  background-color: #f3f4f7;
  outline: none;
}
.search{
position: relative;
}
.search .zoom{
position: absolute;
top: 18px;
right: 20px;
font-size: 25px;
color: rgb(49, 49, 49);
}

.searchModal #modalSearch{
  position: relative;
  margin-top: 25px;
  padding: 18px 38px;
  width: 360px;
  height: 48px;
  border-radius: 5px;
  border: none;
  background-color: #f3f4f7;
  font-weight: 100;
}
.searchModal .zoom{
position: absolute;
top: 65px;
left: 20px;
font-size: 20px;
color: rgb(52, 52, 52);
}

.myAccount{
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  width: 42px;
  height: 42px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.count{
  position: relative;
  display: flex;
  left: -45px;
}

.count .dollar{
  position: relative;
  top: 12px;
  left: -15px;
  font-family:"Dosis",sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.basketPop{
  position: absolute;
  width: 250px;
  max-width: 350px;
  max-height: 600px;
  min-height: 250px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 8px 0px rgba(57, 57, 57, 0.2);
  border-radius: 15px;
  top: 65px;
  left: -160px;
  transition: 1s;
  display: none;

}

.count:hover .basketPop{  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;}

.basketLogo:hover .basketPop{  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.basketLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 3px;
  margin-left: 10px;  
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgb(250, 226, 226);
}
.basketLogo i{
 position: relative;
 left:8.5px;
}
.basketLogo .counter{
  width: 17px;
  height: 17px;
  position: relative;
  top:-10px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
}


.modal-body{
  width: 420px;
  overflow-y: scroll;
}
.modal-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-title{
  position: relative;
  font-size: 17px;
  font-weight: 600;
  left: -65px;
  margin: 15px;
}
.modal-header .container{
  position: relative;
}

.categor i span{
  font-family:"Dosis",sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.totalProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
  left: 50px;
  width: 101px;
  height: 18px;
  background-color:#f3f4f7;
  border: 1px solid white;
  border-radius: 25px;
}
.totalProduct span{
  font-family:"Dosis",sans-serif;
  font-size:10px;
  color: #2c2c2c;
}
.navMenu{
  font-family:"Dosis",sans-serif;
  color: #2c2c2c;
}
  
.navMenu .home:hover{
background-color: #f3f4f7;
transition: 0.4s;
}

.home a {
  padding: 6px 35px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-size: 15px;
  font-family:"Dosis",sans-serif;
  color: #2c2c2c;
}


.swiper {
  width: 100%;
  height: 460px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.contains{
  position: absolute;
  width:33%;
  height: 100%;
  left: 10%;
}

.excOffer{
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,rgb(106, 223, 106),rgba(87, 220, 89, 0.247),rgba(78, 212, 80, 0.044));
  border-radius: 25px;
  margin-left: 8px;
  margin-top: -7px;
  font-size:14px;
  font-weight:500;
  color: green;
  font-family: "Dosis",sans-serif;
  letter-spacing: 1px;
}

.proCategories .mainProduct{
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 290px;
  padding: 10px;
  border: 1px solid #ececec;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
}

.mainProduct img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.miniProducts .row .col{
  width: 234px;
  height: 145px;
  border: 1px solid #ececec;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.miniProducts .row .col img{
  width: 70px;
  height: 70px;
}
.miniProducts .row .col .productInfos{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 8px;
  line-height: 17px;
}
.miniProducts .row .col .productInfos .category a{
  font-size: 15px;
  font-weight: 600;
  font-family: "dosis"sans-serif;
  color: black;
}
.miniProducts .row .col .productInfos .quantity{
  margin-top: 5px;
  font-size: 13px;
  text-align: left;
  font-family: "dosis"sans-serif;
}

.dealsWeek .mainProduct{
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 744px;
  padding: 0px 15px;
  border: 2px solid #ed174a;
  background-color: white;
  border-radius: 10px;
}
.dealsWeek .mainProduct .sale{
  width: 80px;
  height: 80px;
  background-color: #ed174a;
  border-radius: 50%;
  position: relative;
  top: 80px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-weight: 600;
  color: white;
}

.dealsWeek .miniProducts{
  width: 780px;
  height: 797px;
  padding: 0px 15px;
}

.dealsWeek .miniProducts .row{
  padding:0px 20px;
  
}
.dealsWeek .miniProducts .row .col{
  width: 249px;
  height: 372px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}


#countdown li{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #ed174a;
  color: white;
  font-family:"dosis",sans-serif;
  font-size: 20px;
  margin: 0px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#countdown .points{
  padding-top: 10px;
  font-weight: 600;
}
