@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Spline+Sans+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background: #233a95;
    color: white;
    font-size: 13px;
}

.thenHeading{
    width: 100%;
    height: 45px;
    border: 1px solid rgba(128, 128, 128, 0.404);
    color: rgb(133, 133, 133);
    font-size: 13px;
}

.thenHeading ul li{
    list-style: none;
    display: flex;
    align-self:center;
}

.thenHeading ul li a{
    text-decoration: none;
    color: rgb(68, 68, 68);
    margin: 2px 7px;
    transition: 0.3s;
}
.thenHeading ul li a:hover{
    color: #00c8ff;
}

.dropbtn {
    color: rgb(0, 0, 0);
    border: none;
    background: none;
    transition: 0.3s;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    max-height: 70px;
  }
  
  .dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    left: -20px;
    width: 0;
    height: 0;
    opacity: 0;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 3;
  }
  
  .lang a {
    color: rgb(41, 41, 41);
    padding: 6px 35px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    font-size: 12px;
    font-weight: 600;

  }
  
  .dropdown-content a:hover {color: #00c8ff;}
  
  .dropdown:hover .dropdown-content {
    
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  width: 100px;
  height: 125px;
  opacity: 1;
  }

  .dropbtn:hover{color:#00c8ff;}


  #location{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:50px ;
    width: 180px;
    height: 60px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0px 4px 8px 0px rgba(143, 143, 143, 0.2);
  }
  #location span i{
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 10px;
  }

  #location .currentLoc{
    color: #233a95;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 600;
  }
#location:hover{
  box-shadow: 0px 4px 8px 0px rgba(57, 57, 57, 0.2);
}
.search #navbarSearch{
  position: relative;
  padding: 18px 10px;
  width: 553px;
  border-radius: 5px;
  border: none;
  background-color: #f3f4f7;
  outline: none;
}
.search{
position: relative;
}
.search .zoom{
position: absolute;
top: 18px;
right: 20px;
font-size: 25px;
color: rgb(49, 49, 49);
}

.searchModal #modalSearch{
  position: relative;
  margin-top: 25px;
  padding: 18px 38px;
  width: 360px;
  height: 48px;
  border-radius: 5px;
  border: none;
  background-color: #f3f4f7;
  font-weight: 100;
}
.searchModal .zoom{
position: absolute;
top: 65px;
left: 20px;
font-size: 20px;
color: rgb(52, 52, 52);
}

.myAccount{
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  width: 42px;
  height: 42px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.count{
  position: relative;
  display: flex;
  left: -45px;
}

.count .dollar{
  position: relative;
  top: 12px;
  left: -15px;
  font-family:"Dosis",sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.basketPop{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  position: absolute;
  width: 0px;
  max-width: 0px;
  max-height: 0px;
  min-height: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 8px 0px rgba(57, 57, 57, 0.2);
  border-radius: 10px;
  top: 65px;
  left: -160px;
  z-index: 4;
  opacity: 0;

}

.count:hover .basketPop{

  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  width: 300px;
  max-width: 350px;
  max-height: 600px;
  min-height: 250px;
  opacity: 1;
}
.basketLogo:hover .basketPop{

  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  width: 300px;
  max-width: 350px;
  max-height: 600px;
  min-height: 250px;
  opacity: 1;
}


.basketLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 3px;
  margin-left: 10px;  
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgb(250, 226, 226);
}
.basketLogo i{
 position: relative;
 left:8.5px;
}
.basketLogo .counter{
  width: 17px;
  height: 17px;
  position: relative;
  top:-10px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
}



.modal-body{
  width: 420px;
  overflow-y: scroll;
}
.modal-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-title{
  position: relative;
  font-size: 17px;
  font-weight: 600;
  left: -65px;
  margin: 15px;
}
.modal-header .container{
  position: relative;
}


.allCats{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  padding: 35px;
  line-height: 35px;
  top: 70px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  z-index: 3;
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}
.nextCats{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  padding: 35px;
  line-height: 35px;
  top: 70px;
  left:275px ;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  z-index: 3;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.allCats a{
  font-family: "inter",sans-serif;
  font-size: 13px;
  color: #747b93;
  transition: 0.2s;
}
.allCats a:hover{
color:#00c8ff
}
.allCats i{
  margin-right: 10px;
}
.nextOpen:hover .subMenuu .nextCats{
  -webkit-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  -ms-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  width: 268px;
  height: 517px;
  opacity: 1;
  visibility: visible;
}
.dropdown:hover .allCats{
  -webkit-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  -ms-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  width: 268px;
  height: 517px;
  opacity: 1;
  visibility: visible;
}

.categor i span{
  font-family:"Dosis",sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.totalProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 70px;
  width: 101px;
  height: 18px;
  background-color:#f3f4f7;
  border: 1px solid white;
  border-radius: 25px;
}
.totalProduct span{
  font-family:"Dosis",sans-serif;
  font-size:10px;
  color: #2c2c2c;
}
.navMenu{
  font-family:"Dosis",sans-serif;
  color: #2c2c2c;
}
  
.navMenu .home:hover{
background-color: #f3f4f7;
transition: 0.4s;
}

.home{
  display: block;
  color: rgb(59, 59, 59);
  border: none;
  background-color: #ffffff;
}


.home-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width:0;
  height:0;
  margin-top:16px;
  padding: 0;
  position: absolute;
  left: -55px;
  top: 49px;
  background-color: white;
  z-index: 3;
  transition:height 0.5s ease-in-out;
  transition-delay: 1ms;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 228, 228);
  line-height: 40px;
  overflow: hidden;

}

.shope-content{

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction:row;
  visibility: hidden;
  width:0;
  height:0;
  margin-top:16px;
  padding: 0;
  position: absolute;
  left: 0px;
  top: 241px;
  background-color: white;
  z-index: 3;
  transition:height 0.5s ease-in-out;
  transition-delay: 0ms;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0;
  border-radius: 5px;
  border-bottom: 1px solid rgb(228, 228, 228);
  padding: 30px 174px 30px;
  font-size: 13px;
  font-family: "inter",sans-serif;
}

.shope-content li{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
}
.shope-content li a{
  color: #717171;
  font-weight: 500;
}

.shope-content a{
  transition: 0.3s;
}
.homes{
  width: 100px;
  height: 75px;
  padding-bottom: -500px;
  background-color: rgba(0, 0, 0, 0);
}
.shopes{
  width: 100px;
  height: 75px;
  padding-bottom: -500px;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.home-content a {
  padding: 6px 35px;
  transition: 0.3s;
  font-size: 15px;
  font-family:"Dosis",sans-serif;
  color: #525252;
  padding-left: -50px;
}
.home-content a:hover{
  color: #00c8ff;
}
.shope-content a:hover{
  color: #00c8ff;
}
.homes:hover .home{
  color: #2bbef9;
  background-color: #f0f6ff;
}
.shopes:hover .home{
    color: #2bbef9;
    background-color: #f0f6ff;
  
}
.shopes:hover .shope-content{
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  visibility: visible;
   opacity: 1;
   width: 100%;
   height: 320px;
}
.homes:hover .home-content{

  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
   opacity: 1;
   height: 220px;
   width: 200px;
}

 .swiper {
  width: 100%;
  height: 460px;
}

 .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.contains{
  position: absolute;
  width:33%;
  height: 100%;
  left: 10%;
}

.excOffer{
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,rgb(106, 223, 106),rgba(87, 220, 89, 0.247),rgba(78, 212, 80, 0.044));
  border-radius: 25px;
  margin-left: 8px;
  margin-top: -7px;
  font-size:14px;
  font-weight:500;
  color: green;
  font-family: "Dosis",sans-serif;
  letter-spacing: 1px;
}

.proCategories .mainProduct{
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 290px;
  padding: 10px;
  border: 1px solid #ececec;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
}

.mainProduct img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.miniProducts .row .col{
  width: 249px;
  height: 145px;
  border: 1px solid #ececec;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.miniProducts .row .col img{
  width: 70px;
  height: 70px;
}
.miniProducts .row .col .productInfos{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 8px;
  line-height: 17px;
}
.miniProducts .row .col .productInfos .category a{
  font-size: 15px;
  font-weight: 600;
  font-family: "dosis"sans-serif;
  color: black;
}
.miniProducts .row .col .productInfos .quantity{
  margin-top: 5px;
  font-size: 13px;
  text-align: left;
  font-family: "dosis"sans-serif;
}

.dealsWeek .mainProduct{
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 744px;
  padding: 0px 15px;
  border: 2px solid #ed174a;
  background-color: white;
  border-radius: 10px;
}
.dealsWeek .mainProduct .sale{
  width: 80px;
  height: 80px;
  background-color: #ed174a;
  border-radius: 50%;
  position: relative;
  top: 80px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-weight: 600;
  color: white;
}

.dealsWeek .miniProducts{
  width: 780px;
  height: 797px;
  padding: 0px 15px;
}
.dealsWeek .miniProducts .row .col .productInfos .category a{
  color:#2c2c2c;

}
.dealsWeek .miniProducts .row .col .productInfos .category a:hover{
  transition: 0.5s;
  color: rgb(50, 2, 206);
}

.dealsWeek .miniProducts .row{
  padding:0px 20px;
  border-radius: 10px;
  
}
.dealsWeek .miniProducts .row .col{
  width: 249px;
  height: 372px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  position: relative;
  transition: 0.3s;
}
.dealsWeek .miniProducts .row .col a img{
  width: 180px;
  height: 187px;
}


#countdown li{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #ed174a;
  color: white;
  font-family:"dosis",sans-serif;
  font-size: 20px;
  margin: 0px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#countdown .points{
  padding-top: 10px;
  font-weight: 600;
}

.excSale{
  width: 43px;
  height: 25px;
  background-color: #00c8ff;
  color: white;
  font-size: 12px;
  font-weight: 500;
  font-family: "dosis",sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.recommend{
  width: 90px;
  height: 25px;
  background-color: #a0a0a0;
  color: white;
  font-size: 12px;
  font-weight: 500;
  font-family: "dosis",sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 20px;
}
 .addCart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  border-radius: 25px;
  background-color: #233a95;
  color: white;
  bottom: -30px;
  left: 20px;
  height: 30px;
  opacity: 0;
  font-size: 17px;
  font-weight: 500;
  font-family: "dosis",sans-serif;
}
 .addC{
  position: absolute;
  display: flex;
  bottom: -40px;
  left: -1px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 0px 1px 1px;
  border-radius: 0px 0px 10px 10px;
  width: 246.8px;
  height: 55px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 5px;
}
 .popUp{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c0c0c051;
  box-shadow: 0px 0px 4px 0px rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: 0.2s;
  font-size: 14px;
  opacity: 0;
  background-color: white;
}

.dealsWeek .miniProducts .row .col:hover {
  border-color: #d1d1d1;
  box-shadow: 0px 1px 8px 8px rgba(218, 218, 218, 0.2);
  border-radius: 10px 10px 0px 0px;
  z-index: 1;

}
.dealsWeek .miniProducts .row .col:hover .addCart{
  color: #FFFFFF;
  text-align: center;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
   opacity: 1;
}
.dealsWeek .miniProducts .row .col:hover .addC {
  color: #FFFFFF;
  text-align: center;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
   opacity: 1;
}
 .addCart:hover{
  box-shadow: 0px 0px 8px 3px rgba(52, 155, 200, 0.404);

}
.dealsWeek .miniProducts .row .col:hover .fullScreen{
  text-align: center;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
   opacity: 1;
}
.dealsWeek .miniProducts .row .col:hover .heart{
  text-align: center;

  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
   opacity: 1;
}
.popUp:hover{
  background-color: #233a95;
  color: white;
}

.weekendDis .banner-1{
  width: 570px;
  height: 250px; 
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.weekendDis .banner-1 .contentBanner{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 40px;

}

.bestSellers .container .row .col{
  border:1px solid #ECECEC;
  max-width: 234px;
  height: 400px;
  position: relative;

}

.bestSellers .row .col .popUp{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 4px 0px rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: 0.2s;
  font-size: 14px;
  opacity: 0;
}

.bestSellers .row .col:hover .fullScreen{
  text-align: center;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
   opacity: 1;
}
.bestSellers .row .col:hover .heart{
  text-align: center;

  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
   opacity: 1;
}
.bestSellers .row .col .popUp:hover{
  background-color: #233a95;
  color: white;
}
.bestSellers .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ECECEC;
  box-shadow: 0px 0px 8px 2px rgba(187, 187, 187, 0.204);
  z-index: 1;
}

.bestSellers .preview{
  top: 250px;
  left: -20px;
}
.bestSellers .preview:hover{
  box-shadow: 0px 0px 8px 4px rgba(187, 187, 187, 0.362);
}
.bestSellers .next{
  top: 250px;
  right:-20px;
}
.bestSellers .next:hover{
  box-shadow: 0px 0px 8px 4px rgba(187, 187, 187, 0.362);
}

.saveMoney{
  width:1175px;
  height:64px;
  background-color: #fbeacf;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 600;
  font-family: "inter",sans-serif;
  border-radius: 8px;
}

.simpleProducts .container .row{
  width: 1200px;
  height: 736px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.simpleProducts .container .row .col{
  border:1px solid #ECECEC;
  min-width: 234px;
  max-width: 234px;
  height: 368px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  position: relative;
  transition: 0.3s;
}

.simpleProducts .container .row .col a img{
  width: 180px;
  height: 187px;
}




.simpleProducts .row .col:hover {
  border-color: #d1d1d1;
  box-shadow: 0px 1px 8px 8px rgba(218, 218, 218, 0.2);
  border-radius: 10px 10px 0px 0px;
  z-index: 1;

}
.simpleProducts  .row .col:hover .addCart{
  color: #FFFFFF;
  text-align: center;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
   opacity: 1;
}
.simpleProducts .row .col:hover .addC {
  color: #FFFFFF;
  text-align: center;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
   opacity: 1;
}

.simpleProducts .row .col:hover .fullScreen{
  text-align: center;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
   opacity: 1;
}
.simpleProducts .row .col:hover .heart{
  text-align: center;

  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
   opacity: 1;
}

.weekendDiscounts .banner-1{
  width: 370px;
  height: 219px; 
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.weekendDiscounts .banner-1 .contentBanner{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 40px;

}

.weekendDiscounts .banner-1 .contentBanner .weekDis{
  font-size:14px;
  font-family:dosis,sans-serif;
  font-weight:600;
  color:#20d132;
  margin-bottom: 5px;
}
.weekendDiscounts .banner-1 .contentBanner .weekDisTitle{
  font-size: 25px;
  font-weight:600;
  color:#3c4765;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

.weekendDiscounts .banner-1 .contentBanner .weekDisSlogan{
  font-size: 13px;
  color:#7d7d7d;
  margin-bottom:20px;
}
.weekendDiscounts .banner-1 .contentBanner .shopNow{
  background-color:#abb8c3;
  width:100px;
  height:32px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:13px;
  font-weight: 600;
  border-radius:25px;
}

.foodBlogs .row .col{
  width: 400px;
  height: 392px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}
.foodBlogs .row .col img{
  width: 370px;
  height: 260px;
  border-radius: 5px;
}

.foodBlogs .row .col .post{
  width: 370px;
  height: 106.5px;
}

.foodBlogs .row .col .post .head{
  margin:10px 0px;
  width: 370px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  font-family: "dosis",sans-serif;
  color: #9B9BB4;
}

.foodBlogs .row .col .post .title a{
  width: 370px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight:bolder;
  font-family: "inter",sans-serif;
  color:#000000;
}
.foodBlogs .row .col .post .ending{
  width: 370px;
  height: 21px;
  margin-top: 4px;
  margin-bottom: 10px;
  display: flex;
}
.foodBlogs .row .col .post .ending .time a{
  margin-right: 8px;
  color: #535353;
  font-weight: 400;
}
.foodBlogs .row .col .post .ending .comments a{
  margin-right: 8px;
  color: black;
  font-weight: 500;
}
.foodBlogs .row .col .post .ending .author a{
  color: #000000;
  font-weight: 500;
  margin-left: 3px;
  font-style: normal;
}


